<style>
    .containerr {
        position: relative;
        text-align: center;
        color: white;
    }

    .top-right {
        position: absolute;
        top: 8px;
        right: 14px;
    }
</style>



<div class="containerr ">
    <img class="d-block img-fluid" src="~/img/hero.png" alt="" width="100%" style="height:100%; width:230vh;">
    <li class="nav-item">
        <a class="nav-link text-light btn btn-dark border-light-2 m-2 p-2 top-right" asp-area="Identity" asp-page="/Account/Register">Registro</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light btn btn-dark border-light-2 m-2 p-2 top-right " asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
</div>