@model Somativa.Models.Venda

@{
    ViewData["Title"] = "Editar Venda";
}

<div class="container">
    <h1 class="text-center text-white">Editar Venda</h1>

    <hr class="text-white" />
    <div class="row" style="display: flex; justify-content: center;">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="VendaId" />
                <div class="form-group">
                    <label asp-for="Nota" class="control-label text-white"></label>
                    <input asp-for="Nota" class="form-control" />
                    <span asp-validation-for="Nota" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="ClienteId" class="control-label text-white"></label>
                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                    <span asp-validation-for="ClienteId" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="DataHora" class="control-label text-white"></label>
                    <input asp-for="DataHora" class="form-control" />
                    <span asp-validation-for="DataHora" class="text-danger"></span>
                </div>
                <div class="form-group mt-4 text-center">
                    <input type="submit" value="Salvar" class="btn text-white" style="background-color:darkblue" />
                    <a class="btn btn-secondary ms-3" asp-action="Index">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
